# --- CONFIGURACIÓN DE DJANGO ---
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True

# --- SEGURIDAD (CORS) ---
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://tu-app.vercel.app

# --- GOOGLE MAPS API ---
GOOGLE_MAPS_API_KEY=pega_tu_api_key_aqui

# --- BASE DE DATOS (RAILWAY O LOCAL) ---
DATABASE_URL=postgres://usuario:password@host:puerto/dbname