
# No subir archivos de configuración local (contraseñas)
.env

# Python & Django
__pycache__/
*.pyc
db.sqlite3
.venv/
venv/
env/


# Frontend y dependencias
node_modules/
vendor/

# IDEs y Sistema
.vscode/
.idea/
.DS_Store
*.log