# --- NÚCLEO Y API ---
Django==5.2.11
djangorestframework==3.16.1
# Para leer variables .env
python-dotenv
#las traduce a django, para que se puedan usar en settings.py
 dj-database-url
# Permite que Vercel se conecte al Backend
django-cors-headers

# --- DESPLIEGUE EN RAILWAY ---
# El servidor profesional (imprescindible)
gunicorn==23.0.0
# Para que los estilos CSS se vean en la nube
whitenoise==6.12.0
# Para conectar la base de datos de Railway
dj-database-url==3.1.2
# Para leer la API Key de Google de forma segura
django-environ==0.13.0
# Para que Django hable con PostgreSQL
psycopg2-binary==2.9.11

# --- CONEXIÓN CON GOOGLE MAPS ---
# La librería que hace la búsqueda de comercios
googlemaps==4.10.0
# Necesaria para que las peticiones a Google sean seguras
requests==2.32.5

# --- UTILIDADES ---
asgiref==3.11.1
sqlparse==0.5.5
